body {
    background-color: blue;
}

#container {
    width: 50%;
    display: block;
    float: none;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.currentWeatherIcon {
    margin: 0 auto;
}

table, td{
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

span {
    text-align: center;
}

.hi-lo{
    text-align: center;
}

.header, h1 {
    display: inline-block;
}

.refresh-btn{  
    background-color: blue;
    color: white;
    text-align: center;
    align-items: center;

    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}