#container {
    width: 400px;
    height: 295px;
    display: block;
    float: none;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(white, rgb(41,171,226), rgb(74,139,209));
    color:white;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.iconColumn {
    border-radius: 10px;
    background-color: white;
    color: black;
    margin: 10px;
    text-align: center;
}

.currentWeatherIcon {
    margin: 0 auto;
    align-content: center;
}

.currentWeatherTitle {
    color: white;
    background: rgb(74,139,209);
    border-radius: 5px;
    font-size: 12px;
    width: 69%;
    margin-left: -16px;
    padding-left: 15px;
}

.currentImg{
    margin-left: auto;
    margin-right: auto;
}

.currentTemp{
    font-size: 20px;
}

.currentSummary{
    font-size: 12px;
}

.feelsLike {
    font-size: 12px;
}

.humidity {
    font-size: 12px;
}

.description {
    padding: 5px;
    margin: 0 auto;
    border: 1px solid black;
}

.timeDateUpdate {
    margin-top: 5px;
}

.refresh-btn{  
    background-color: lightblue;
    color: white;
    text-align: center;
    align-items: center;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 1px 1px;
    margin-left: 25%;
    margin-right: 25%;
}

.clockContainer {
    display: inline-block;
    margin: auto;
    width: 100%;
}

#clock {
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
}

.date {
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
}

.daySummary {
    text-align: left;
    width: 90%;
    font-size: 10px;
    padding: 0px;
}

table{
    color: white;
    margin: 0 auto;
}

td{
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
}

.hi-lo{
    text-align: center;
}
